<%- include('partials/header'); -%>
<h2 class="title">About</h2>
<p class="details">What do Albert Einstein, Marie Curie, Frida Kahlo, Leonardo da Vinci, and Frederick Douglass all have in common? Each of these famous figures kept a journal or diary to record their experiences, thoughts, or feelings. Kahlo and da Vinci even used illustrations to express emotions and sketch out ideas.
From scientific geniuses to thoughtful artists — and everyone in between — keeping a journal can be a beneficial self-care practice. In fact, journaling can help you in the following ways.No matter which type of journal you decide to keep, remember there is no right or wrong approach. It’s all up to you. The simple act of taking the time to get in touch with your mind, body, and spirit is what’s truly important.
When you use your journal to write down your goals, you can keep better track of your intentions. This will help you stay accountable and serve as a reminder of what you need to do to accomplish them. Be sure to get specific.</p>
