<%- include('partials/header'); -%>
<h2 class="title">Compose</h2>
<form class="" action="/compose" method="post">
  <div class="formgroup">
      <input type="text" class="input" name="PostTitle" autocomplete="off" autofocus="on" placeholder="Title">
      <textarea name="PostContent" class="input" rows="8" cols="60" placeholder="Type here"></textarea>
    <button type="submit" class="submit-btn" name="button">Publish</button>
  </div>
</form>
